- next_action = (params[:action]=='new' ? 'create' : 'update')
= form_for @device, :url => url_for(:period_id => @period.to_param, :subject_id => @subject.id, :id => @device.id, :action => next_action) do |f|

  - if @device.errors.any?
    .alert.alert-block.alert-error
      %h4.alert-heading При заполнении формы произошли следующие ошибки:
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg

  %table.form_table.measuring_devices_form_table
    %thead
      %tr
        %th= MeasuringDevice.human_attribute_name :area
        %th= MeasuringDevice.human_attribute_name :kind
        %th= MeasuringDevice.human_attribute_name :start_value, :date => @period.start_date_localized
        %th= MeasuringDevice.human_attribute_name :planned_value, :date => @period.start_date_localized
        %th= MeasuringDevice.human_attribute_name :final_value, :period_year => @period.date.year
        %th= MeasuringDevice.human_attribute_name :equipment_level
    %tbody
      %tr
        %th.usual.with_input= f.select :area_id, Area.all.map { |a| [a.name, a.id] }
        %th.usual.with_input= f.select :kind_id, Kind.all.map { |k| [k.name, k.id] }
        %td.usual.with_input= f.number_field :start_value
        %td.usual.with_input= f.number_field :planned_value
        %td.usual.with_input= f.number_field :final_value
        %td.usual.equipment_level= number_to_percentage(@device.equipment_level)

  .form-actions
    = link_to "Назад", request.referer, :class => "btn"
    %button.btn.btn-inverse{:type => :reset} Отменить изменения
    %button.primary_action.btn.btn-primary{:type => :submit} Сохранить
