= form_for [:operator, @consumption] do |f|
  %table.form_table.consumptions_form_table
    %thead
      %tr
        %th= Consumption.human_attribute_name :resource
        %th{:colspan => 2}= Consumption.human_attribute_name :prev_cons, :start_year => @period.date.year-2, :period_year => @period.date.year
        %th{:colspan => 2}= Consumption.human_attribute_name :approved_year_cons, :period_year => @period.date.year
        %th{:colspan => 2}= Consumption.human_attribute_name :approved_period_cons, :start_date => @period.start_date_localized
        %th{:colspan => 2}= Consumption.human_attribute_name :actual_cons, :start_date => @period.start_date_localized
        %th{:colspan => 2}= Consumption.human_attribute_name :deviation, :start_year => @period.date.year-2, :period_year => @period.date.year
        %th= Consumption.human_attribute_name :deviation_reason
      %tr
        - 12.times do |i|
          %th #{i+1} 
    %tbody
      %tr
        %th.with_input{:rowspan => 2}= f.select :resource_id, options_for_select(resources_for_select_with_resource(@consumption.resource))
        - 5.times do
          %td Ед.изм.
          %td руб.
        %td.with_input{:rowspan => 2}= f.text_field :reason
      %tr
        %td.usual.with_input= f.number_field :prev_cons_units
        %td.usual.with_input= f.number_field :prev_cons_monetary
        %td.usual.with_input= f.number_field :approved_year_cons_units
        %td.usual.with_input= f.number_field :approved_year_cons_monetary
        %td.usual.with_input= f.number_field :approved_period_cons_units
        %td.usual.with_input= f.number_field :approved_period_cons_monetary
        %td.usual.with_input= f.number_field :actual_cons_units
        %td.usual.with_input= f.number_field :actual_cons_monetary
        %td.usual.consumption_deviation_units= @consumption.deviation_units
        %td.usual.consumption_deviation_monetary= @consumption.deviation_monetary
        

  .form-actions
    = link_to "Назад", request.referer, :class => "btn"
    %button.primary_action.btn.btn-primary{:type => :submit} Сохранить 

