= form_for [:operator, @consumption] do |f|
  %table.form_table.consumptions_form_table
    %thead
      %tr
        %th Наименование ТЭР
        %th{:colspan => 2} Фактические объемы потребления ТЭР период #{@period.date.year - 2} год, аналогичный отчетному за #{@period.date.year} год
        %th{:colspan => 2} Объем потребления ТЭР на #{@period.date.year} год утвержденный постановлением губернатора области или главой администрации ОМСУ
        %th{:colspan => 2} Объем потребления ТЭР на #{@period.start_date_localized} года, утвержденный постановлением губернатора области или главой администрации ОМСУ
        %th{:colspan => 2} Фактический объем потребления ТЭР на #{@period.start_date_localized} г.
        %th{:colspan => 2} Отклонение фактического объема потребления #{@period.date.year} г. к #{@period.date.year - 2} г. (+,-)
        %th{:colspan => 2} Причина отклонения
      %tr
        - 12.times do |i|
          %th #{i+1} 
    %tbody
      %tr
        %th.with_input{:rowspan => 2}= f.select :resource_id, options_for_select(resources_for_select_with_resource(@consumption.resource))
        - 5.times do
          %td Ед.изм.
          %td руб.
        %td.with_input{:rowspan => 2}= f.text_field :reason
      %tr
        %td.usual.with_input= f.number_field :prev_cons_units
        %td.usual.with_input= f.number_field :prev_cons_monetary
        %td.usual.with_input= f.number_field :approved_year_cons_units
        %td.usual.with_input= f.number_field :approved_year_cons_monetary
        %td.usual.with_input= f.number_field :approved_period_cons_units
        %td.usual.with_input= f.number_field :approved_period_cons_monetary
        %td.usual.with_input= f.number_field :actual_cons_units
        %td.usual.with_input= f.number_field :actual_cons_monetary

  .form-actions
    = link_to "Назад", request.referer, :class => "btn"
    %button.primary_action.btn.btn-primary{:type => :submit} Сохранить 

