%h1.form_header Анализ потребления топливно-энергетических ресурсов 
%h2.form_header #{@subject.name}

- if @consumptions.any?
  %table.form_table.consumptions_form_table
    %thead
      %tr
        %th= Consumption.human_attribute_name :resource
        %th{:colspan => 2}= Consumption.human_attribute_name :prev_cons, :start_year => @period.date.year-2, :period_year => @period.date.year
        %th{:colspan => 2}= Consumption.human_attribute_name :approved_year_cons, :period_year => @period.date.year
        %th{:colspan => 2}= Consumption.human_attribute_name :approved_period_cons, :start_date => @period.start_date_localized
        %th{:colspan => 2}= Consumption.human_attribute_name :actual_cons, :start_date => @period.start_date_localized
        %th{:colspan => 2}= Consumption.human_attribute_name :deviation, :start_year => @period.date.year-2, :period_year => @period.date.year
        %th= Consumption.human_attribute_name :deviation_reason
        - if can? :manage, Consumption
          %th{:rowspan => 2}
      %tr
        - 12.times do |i|
          %th #{i+1}
    %tbody
      - @consumptions.each do |consumption|
        %tr
          %th{:rowspan => 2} #{consumption.resource.name}
          - 5.times do
            %td #{consumption.resource.unit}
            %td руб.
          %td{:rowspan => 2} #{consumption.reason}
          - if can? :manage, consumption
            %td.manage{:rowspan => 2}
              = link_to "Изменить", edit_consumption_path(@period.to_param, @subject.id, consumption.id), :class => "btn btn-mini"
              = link_to "Удалить", consumption_path(@period.to_param, @subject.id, consumption.id), :class => "btn btn-danger btn-mini", :method => :delete, :confirm => t(".delete_confirm")
        %tr
          %td.usual #{consumption.prev_cons_units}
          %td.usual #{consumption.prev_cons_monetary}
          %td.usual #{consumption.approved_year_cons_units}
          %td.usual #{consumption.approved_year_cons_monetary}
          %td.usual #{consumption.approved_period_cons_units}
          %td.usual #{consumption.approved_period_cons_monetary}
          %td.usual #{consumption.actual_cons_units}
          %td.usual #{consumption.actual_cons_monetary}
          %td.usual #{consumption.deviation_units}
          %td.usual #{consumption.deviation_monetary}

- else
  %p На текущий период нет данных.

- if can? :create, Consumption
  - unless @consumptions.count == Resource.count
    .form-actions
      = link_to "Внести данные", new_consumption_path(@period.to_param, @subject.id), :class => "primary_action btn btn-primary"
