- next_action = (params[:action]=='new' ? 'create' : 'update')
= form_for @house_kind_number, :url => url_for(:house_number_id => @house_number.id, :id => @house_kind_number.id, :action => next_action) do |f|

  - if @house_kind_number.errors.any?
    .alert.alert-block.alert-error
      %h4.alert-heading При заполнении формы произошли следующие ошибки:
      %ul
        - @house_kind_number.errors.full_messages.each do |msg|
          %li= msg

  %table.form_table.house_kind_numbers_form_table
    %thead
      %tr
        %th
        %th Всего домов на территории субъекта
        %th Из них подлежит оснащению приборами учета
        %th Из них фактически оснащено
    %tbody
      %tr
        %td.usual= @house_number.house_type.name
        %td.usual= @house_number.total
        %td.usual= @house_number.required
        %td.usual= @house_number.equipped
      %tr
        %td.usual.with_input= f.select :house_kind_id, options_for_select(house_kinds_for_select_with_kind(@house_number, @house_kind_number.house_kind))
        %td.usual
        %td.usual.with_input= f.number_field :required
        %td.usual.with_input= f.number_field :equipped

  .form-actions
    = link_to "Назад", request.referer, :class => "btn"
    %button.btn.btn-inverse{:type => :reset} Отменить изменения
    %button.primary_action.btn.btn-primary{:type => :submit} Сохранить 
