%h1.form_header #{@subject.name}

- if @current_audit
  %table.form_table.audits_form_table
    %thead
      %tr
        %th{:colspan => 5} Информация по энергоаудиту
        %th{:colspan => 2} Информация по энергосервисным контрактам
      %tr
        %th Количество зданий, сооружений, строений, находящихся в ведении исполнительного органа государственной власти или муниципального образования области
        %th Количество зданий, сооружений строений, по которым проведен энергоаудит по состоянию на #{@current_audit.period.start_date_localized} г.
        %th Количество зданий, сооружений строений, по которым необходимо провести энергоаудит 
        %th Фактическое количество зданий, сооружений строений, по которым проведен энергоаудит по состоянию на #{@current_audit.period.date_localized} г.
        %th % проведенных энергоаудитов
        %th Количество энергосервисных контрактов, заключенных по состоянию на #{@current_audit.period.start_date_localized} г.
        %th Количество энергосервисных контрактов, заключенных по состоянию на #{@current_audit.period.date_localized} г.
    %tbody
      %tr
        %td.usual #{@current_audit.buildings}
        %td.usual #{@current_audit.audited_before}
        %td.usual #{@current_audit.audit_required}
        %td.usual #{@current_audit.audited_in_period}
        %td.usual #{@current_audit.audited_percentage.finite? ? number_to_percentage(@current_audit.audited_percentage) : "недоступен" }
        %td.usual #{@current_audit.audit_contracts_before}
        %td.usual #{@current_audit.audit_contracts_after}

  - if current_user and current_user.subjects.include? @subject
    .form-actions
      = link_to "Внести изменения", edit_audit_path(@period.to_param, @subject.id, @current_audit.id), :class => "primary_action btn"
      = link_to "Удалить", audit_path(@period.to_param, @subject.id, @current_audit.id), :class => "btn btn-danger", :method => :delete, :confirm => t(".delete_confirm")

- else
  %p На текущий период нет данных.
  - if current_user and current_user.subjects.include? @subject
    .form-actions
      = link_to "Внести данные", new_audit_path(@period.to_param, @subject.id), :class => "primary_action btn btn-primary"
