%h1.form_header #{@subject.name}

- if @audit
  %table.form_table.audits_form_table
    %thead
      %tr
        %th{:colspan => 3} Находящиеся в ведении ИОГВ или муниципального образования области, шт
        %th{:colspan => 2} Проведен энергоаудит по состоянию на #{@period.start_date_localized} г.
        %th{:colspan => 2} Фактически проведено энергоаудитов по состоянию на #{@period.date_localized} г.
        %th{:colspan => 2} % проведенных энергоаудитов
        %th{:rowspan => 2} Количество энергосервисных контрактов, заключенных по состоянию на #{@period.start_date_localized} г.
        %th{:rowspan => 2} Количество энергосервисных контрактов, заключенных по состоянию на #{@period.date_localized} г., шт
        %th{:rowspan => 2} Объем энергосервисных контрактов, заключенных по состоянию на отчетную дату #{@period.date_localized} г., тыс.руб.
      %tr
        %th бюджетных учреждений любой формы собственности (юридических лиц), всего
        %th в т.ч. из графы бюджетных учреждений любой формы собственности (юридических лиц), подлежащих энергетическому обследованию
        %th зданий, сооружений, строений
        %th в бюджетных учреждениях любой формы собственности (юридических лиц), подлежащих энергетическому обследованию
        %th зданий, сооружений, строений
        %th в бюджетных учрежденях любой формы собственности (юридических лиц), подлежащих энергетическому обследованию
        %th зданий, сооружений, строений
        %th бюджетных учреждений любой формы собственности (юридических лиц), подлежащих энергетическому обследованию
        %th зданий, сооружений, строений
    %tbody
      %tr
        - Audit.significant_fields.each do |field|
          %td.usual #{@audit.send(field)}

  - if @audit.reference_filled?
    %table.form_table.audits_ref_form_table
      %caption Справочно
      %tbody
        %tr
          %th количество бюджетных учреждений любой формы собственности (юридических лиц), утвердивших программу энергосбережения, шт.
          %td.usual.with_input #{@audit.ref_orgs_with_programs_count}
        %tr
          %th количество бюджетных учреждений любой формы собственности (юридических лиц), в которых назначены ответственные за энергосбережение и повышение энергетической эффективности, шт.
          %td.usual.with_input #{@audit.ref_orgs_with_responsibles_count}
        %tr
          %th Планируемый объем экономии в бюджетных учреждениях любой формы собственности (юридических лиц) по результатам проведенных энергетических обследований, тыс.руб.
          %td.usual.with_input #{@audit.ref_planning_economy_value}

  - if can? :manage, @audit
    .form-actions
      = link_to "Внести изменения", edit_audit_path(@period.to_param, @subject.id, @audit.id), :class => "primary_action btn"
      = link_to "Удалить", audit_path(@period.to_param, @subject.id, @audit.id), :class => "btn btn-danger", :method => :delete, :confirm => t(".delete_confirm")

- else
  %p На текущий период нет данных.
  - if can? :create, Audit
    .form-actions
      = link_to "Внести данные", new_audit_path(@period.to_param, @subject.id), :class => "primary_action btn btn-primary"
