= form_for [:operator, @value] do |f|
  %table.form_table.activity_values_form_table
    %thead
      %tr
        %th{:rowspan => 3}= ActivityValue.human_attribute_name :activity
        %th{:rowspan => 3}= ActivityValue.human_attribute_name :planned_funding, :period_year => @period.date.year
        %th{:rowspan => 3}= ActivityValue.human_attribute_name :actual_funding, :period_year => @period.date.year
        %th{:colspan => 5}= ActivityValue.human_attribute_name :financing_on, :date => @period.start_date_localized
        %th{:colspan => 2, :rowspan => 2}= ActivityValue.human_attribute_name :resource_economy
      %tr
        %th{:rowspan => 2}= ActivityValue.human_attribute_name :total_financing
        %th{:colspan => 4}= ActivityValue.human_attribute_name :financing_sources
      %tr
        %th= ActivityValue.human_attribute_name :regional_financing
        %th= ActivityValue.human_attribute_name :federal_financing
        %th= ActivityValue.human_attribute_name :municipal_financing
        %th= ActivityValue.human_attribute_name :offbudget_financing
        %th= ActivityValue.human_attribute_name :natural_economy
        %th= ActivityValue.human_attribute_name :cost_economy
    %tbody
      %tr
        %td.usual.with_input
          = f.select :activity_id, grouped_options_for_select(activities_grouped_for_select_with_activity(@value.activity))
          %p#activity_value_activity_description= @value.activity.try(:description)
        %td.usual.with_input= f.number_field :planned_funding
        %td.usual.with_input= f.number_field :actual_funding
        %td.usual.with_input.total_financing= f.number_field :total_financing
        %td.usual.with_input.component_financing= f.number_field :regional_financing
        %td.usual.with_input.component_financing= f.number_field :federal_financing
        %td.usual.with_input.component_financing= f.number_field :municipal_financing
        %td.usual.with_input.component_financing= f.number_field :offbudget_financing
        %td.usual.with_input= f.number_field :natural_economy
        %td.usual.with_input= f.number_field :cost_economy

  .form-actions
    = link_to "Назад", request.referer, :class => "btn"
    %button.btn.btn-inverse{:type => :reset} Отменить изменения
    %button.primary_action.btn.btn-primary{:type => :submit} Сохранить 

