%h1 Степень заполнения данных на текущий период
- if @subjects.any?
  %ol
    - @subjects.each do |subject|
      %li
        #{subject.name}
        %ul
          %li
            Измерительные приборы:
            - if @measuring_devices[subject.id][:filled].zero?
              не заполнено
            - else
              #{number_to_percentage(100.0*@measuring_devices[subject.id][:filled]/@measuring_devices[subject.id][:total])}
          %li Аудиты: #{@audit[subject.id] ? "заполнено" : "не заполнено"}
          %li Мероприятия: #{@activities[subject.id]} #{Russian.p @activities[subject.id], "мероприятие", "мероприятия", "мероприятий"} из #{@total_activities} #{Russian.p @total_activities, "доступного", "доступных", "доступных"}.
          %li Потребление ТЭР: #{@consumptions[subject.id]} ТЭР из #{@total_consumptions} #{Russian.p @total_consumptions, "доступного", "доступных", "доступных"}.
