%img#logo{:src => image_path('logo.png'), :alt => "Министерство экономического развития Амурской области"}

#homepage_header
  %h1 Добро пожаловать в систему энергоаудита.
  %p Министерство экономического развития Амурской области.

  - if @period
    %p.alert.alert-info Сейчас вы просматриваете информацию за #{Unicode.downcase(@period.to_s)} года. Используйте верхнее меню для навигации

  - if user_signed_in? and current_user.subjects.any?
    %p.alert.alert-info
      Вы можете вносить информацию для #{current_user.subjects.count}
      #{Russian.p current_user.subjects.count, "субъекта", "субъектов", "субъектов"}.
      Выберите период для заполнения, переключитесь в верхнем меню на интересующий вас раздел и в нём нажмите кнопку «Внести данные»

#homepage_contents

  - if @periods.any?
    %h2 Список периодов #{"с опубликованными данными" unless current_user and (current_user.admin or current_user.subjects.any?)}
    %p Нажмите на интересующий вас период, чтобы просмотреть информацию по нему
    %ul
      - @periods.each do |period|
        %li
          = period.id == @period.try(:id) ? period : link_to(period, period)
  - else
    %p Нет опубликованных данных ни по одному периоду.

- unless user_signed_in?
  %p Сейчас вы можете <a href="#{new_user_session_path}">войти в систему</a> для работы в ней (внесение данных или администрирование)
