%img#logo{:src => image_path('logo.png'), :alt => "Министерство экономического развития Амурской области"}

#homepage_header
  %h1 Добро пожаловать в систему энергоаудита.
  %p Министерство экономического развития Амурской области.

  - if @period
    %p.alert.alert-info Сейчас вы просматриваете информацию за #{Unicode.downcase(@period.to_s)} года. Используйте верхнее меню для навигации

#homepage_contents

  - if @periods.any?
    %h2 Список периодов с опубликованными данными
    %p Нажмите на интересующий вас период, чтобы просмотреть информацию по нему
    %ul
      - @periods.each do |period|
        %li
          = period.id == @period.try(:id) ? period : link_to(period, period)
  - else
    %p Нет опубликованных данных ни по одному периоду.

  %p Сейчас вы можете:

  %ul
    %li
      = link_to "Войти как оператор", new_operator_session_path
      для внесения данных в систему;
    %li
      = link_to "Войти как аудитор", new_auditor_session_path
      для проверки данных и проведения аудита;
    %li
      = link_to "Войти как администратор", new_admin_session_path
      для администрирования.
