%table.form_table.measuring_devices_form_form_table
  %thead
    %tr
      %th{:colspan => @kinds.count+1}= t 'common.attributes.measuring_device.start_value',   :date => @period.start_date_localized
      %th{:colspan => @kinds.count+1}= t 'common.attributes.measuring_device.planned_value', :date => @period.start_date_localized
      %th{:colspan => @kinds.count+1}= t 'common.attributes.measuring_device.final_value',   :date => @period.date_localized
      %th{:rowspan => 2}= t 'common.attributes.measuring_device.equipment_level'
    %tr
      - @val_types.each do |v|
        - @kinds.each do |kind|
          %th #{kind.name}
        %th Всего
  %tbody
    - @areas.each do |area|
      %tr
        %th{:colspan => @val_types.count*(@kinds.count+1)+1}
          #{area.name}
      %tr
        - sum = {}
        - @val_types.each do |v|
          - sum[v] = 0
          - @kinds.each do |kind|
            - value = @current_devices.select{|d| d.area_id == area.id && d.kind_id == kind.id }.first.try(v) if @current_devices
            - value = (((params[:measuring_device] or {})[area.id.to_s] or {})[kind.id.to_s] or {})[v] unless @current_devices
            %td.usual.with_input= number_field_tag "measuring_device[#{area.id}][#{kind.id}][#{v}]", value || 0
            - sum[v] += value || 0
          %td.usual.sum= sum[v]
        - divisor = sum[:start_value]+sum[:planned_value]
        - percent = sum[:final_value]/divisor.to_f*100 unless divisor.zero?
        %td.usual.equipment_level #{ divisor.zero? ? "недоступен" : number_to_percentage(percent) }

.form-actions
  %button.btn.btn-primary{:type => :submit} Внести данные
  = link_to "Назад", request.referer, :class => "btn"
  %button.btn.btn-inverse{:type => :reset} Отменить изменения
