%h1.form_header #{@subject.name}

- if @current_devices.any?
  %table.form_table.devices_form_table
    %thead
      %tr
        %th{:colspan => @kinds.count+1} Количество установленных приборов учета по состоянию на #{@period.start_date_localized} г.
        %th{:colspan => @kinds.count+1} Необходимое количество приборов учета до 100% оснащения на #{@period.start_date_localized} г.
        %th{:colspan => @kinds.count+1} Фактическое количество установленных приборов учета по состоянию на #{@period.date_localized} г. 
        %th{:rowspan => 2} Процент оснащённости
      %tr
        - @val_types.each do |v|
          - @kinds.each do |kind|
            %th #{kind.name}
          %th Всего
    %tbody
      - @areas.each do |area|
        %tr
          %th{:colspan => @val_types.count*(@kinds.count+1)+1}
            #{area.name}
        %tr
          - val_sums = {}
          - @val_types.each do |v|
            - @kinds.each do |kind|
              %td.usual #{@current_devices.select{|d| d.area_id == area.id && d.kind_id == kind.id }.first.try(v)}
            - val_sums[v] = @current_devices.select{|d| d.area_id == area.id }.sum{ |d| d.try(v)}
            %td.usual #{ val_sums[v] }
          - divisor = val_sums[:start_value]+val_sums[:planned_value]
          - percent = val_sums[:final_value]/divisor.to_f*100 unless divisor.zero?
          %td.usual #{ divisor.zero? ? "недоступен" : number_to_percentage(percent) }

  - if can? :manage, MeasuringDevice
    .form-actions
      = link_to "Внести изменения", url_for(:action => :edit), :class => "primary_action btn"
      = link_to "Удалить", url_for(:action => :destroy), :class => "btn btn-danger", :method => :delete, :confirm => t(".delete_confirm")

- else
  %p На текущий период нет данных.

  - if can? :manage, MeasuringDevice
    .form-actions
      = link_to "Внести данные", url_for(:action => :new), :class => "primary_action btn btn-primary"
