- if @audits.any?
  %table.form_table.audits_form_table
    %thead
      %tr
        %th{:rowspan => 2}= @subject_type.model_name.human
        %th{:colspan => 3} Находящиеся в ведении ИОГВ или муниципального образования области, шт
        %th{:colspan => 2} Проведен энергоаудит по состоянию на #{@period.start_date_localized} г.
        %th{:colspan => 2} Фактически проведено энергоаудитов по состоянию на #{@period.date_localized} г.
        %th{:colspan => 2} % проведенных энергоаудитов
        %th{:rowspan => 2} Количество энергосервисных контрактов, заключенных по состоянию на #{@period.start_date_localized} г.
        %th{:rowspan => 2} Количество энергосервисных контрактов, заключенных по состоянию на #{@period.date_localized} г., шт
        %th{:rowspan => 2} Объем энергосервисных контрактов, заключенных по состоянию на отчетную дату #{@period.date_localized} г., тыс.руб.
      %tr
        %th бюджетных учреждений любой формы собственности (юридических лиц), всего
        %th в т.ч. из графы бюджетных учреждений любой формы собственности (юридических лиц), подлежащих энергетическому обследованию
        %th зданий, сооружений, строений
        %th в бюджетных учреждениях любой формы собственности (юридических лиц), подлежащих энергетическому обследованию
        %th зданий, сооружений, строений
        %th в бюджетных учрежденях любой формы собственности (юридических лиц), подлежащих энергетическому обследованию
        %th зданий, сооружений, строений
        %th бюджетных учреждений любой формы собственности (юридических лиц), подлежащих энергетическому обследованию
        %th зданий, сооружений, строений
    %tbody
      - @audits.each do |audit|
        %tr
          %th #{link_to audit.subject.name, audits_path(@period, audit.subject)}
          - Audit.significant_fields.each do |field|
            %td.usual #{audit.send(field)}
      %tr
        %th Всего
        - Audit.significant_fields.each do |field|
          %td.usual= @audits.map{|a| a.send(field) }.compact.sum unless field.to_s.end_with? "percentage"

- else
  %p На текущий период нет данных.
