%h1.form_header Данные о количестве домов на территории муниципального образования
%h2.form_header #{@subject.name}

- if @house_numbers.any?
  - @house_numbers.each do |house_number|
    %table.form_table.house_numbers_form_table
      %thead
        %tr
          %th
          %th Всего домов на территории субъекта
          %th Из них подлежит оснащению приборами учета
          %th Из них фактически оснащено
          - if can? :manage, HouseNumber
            %th
      %tbody
        %tr
          %td.usual <p>#{house_number.house_type.name}</p><p class="desc">#{house_number.house_type.description}</p>
          %td.usual #{house_number.total}
          %td.usual #{house_number.required}
          %td.usual #{house_number.equipped}
          - if can? :manage, house_number
            %td.manage
              = link_to "Изменить", edit_house_number_path(@period.to_param, @subject.id, house_number.id), :class => "btn btn-mini"
              = link_to "Удалить", house_number_path(@period.to_param, @subject.id, house_number.id), :class => "btn btn-danger btn-mini", :method => :delete, :confirm => t(".delete_confirm")
        - house_number.house_kind_numbers.each do |kind_number|
          %tr
            %th.usual #{kind_number.house_kind.name}
            %td.usual
            %td.usual #{kind_number.required}
            %td.usual #{kind_number.equipped}
            - if can? :manage, kind_number
              %td.manage
                = link_to "Изменить", edit_house_kind_number_path(house_number.id, kind_number.id), :class => "btn btn-mini"
                = link_to "Удалить", house_kind_number_path(house_number.id, kind_number.id), :class => "btn btn-danger btn-mini", :method => :delete, :confirm => t(".delete_confirm")
        - if can? :create, HouseKindNumber and house_number.house_kind_numbers.count < HouseKind.count
          %tr
            %td{:colspan => 5}= link_to "Внести данные по другим показателям", new_house_kind_number_path(house_number.id), :class => "primary_action btn btn-primary btn-mini"

- else
  %p На текущий период нет данных.

- if can? :create, HouseNumber
  - unless @house_numbers.count == HouseType.count
    .form-actions
      = link_to "Внести данные", new_house_number_path(@period.to_param, @subject.id), :class => "primary_action btn btn-primary"
