- unless user_signed_in?
  %li{:class => ("active" if params[:controller] == "home")}
    = link_to "Главная", root_path

- if admin_signed_in?
  %li{:class => ("active" if params[:controller].start_with? "admin/users")}
    = link_to "Пользователи", admin_users_root_path
  %li{:class => ("active" if params[:controller].start_with? "admin/subjects")}
    = link_to "Субъекты", admin_subjects_root_path
  %li{:class => ("active" if params[:controller].start_with? "admin/periods")}
    = link_to "Периоды", admin_periods_path
  %li{:class => ("active" if params[:controller].start_with? "admin/dictionaries")}
    = link_to "Вспомогательные словари", admin_dictionaries_root_path
- elsif auditor_signed_in?
  
- elsif operator_signed_in?
  %li{:class => ("active" if params[:controller] == "operator/dashboard")}
    = link_to "Главная", operator_root_path
  %li{:class => ("active" if params[:controller].start_with? "operator/measuring_devices")}
    = link_to "Измерительные приборы", operator_measuring_devices_path
  %li{:class => ("active" if params[:controller].start_with? "operator/audits")}
    = link_to "Аудиты", operator_audits_path
  %li{:class => ("active" if params[:controller].start_with? "operator/activity_values")}
    = link_to "Мероприятия", operator_activity_values_path
  %li{:class => ("active" if params[:controller].start_with? "operator/consumptions")}
    = link_to "Потребление ТЭР", operator_consumptions_path
