- if @period
  %li{:class => ("active" if params[:controller] == "periods")}
    = link_to "Главная", period_path(@period)
  %li{:class => ("active" if params[:controller].include? "measuring_devices")}
    = link_to "Приборы учёта", period_measuring_devices_path(@period, :districts)
  %li{:class => ("active" if params[:controller].include? "audits")}
    = link_to "Аудиты", period_audits_path(@period, :districts)
  %li{:class => ("active" if params[:controller].include? "activity_values")}
    = link_to "Мероприятия", period_activity_values_path(@period, :districts)
  %li{:class => ("active" if params[:controller].include? "consumptions")}
    = link_to "Потребление ТЭР", period_consumptions_path(@period, :districts)
- else
  %li{:class => ("active" if params[:controller] == "periods")}
    = link_to "Главная", periods_path

- if user_signed_in? and current_user.admin
  %li.dropdown
    %a.dropdown-toggle{"data-toggle".to_sym => "dropdown", href: "#"}
      Администрирование
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to "Пользователи", admin_users_path
        = link_to "Субъекты", admin_subjects_root_path
        = link_to "Периоды", admin_periods_path
        = link_to "Вспомогательные словари", admin_dictionaries_root_path
