!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}
    %title #{t("application.short_name")}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %ul.nav
            = render "layouts/main_menu"
          %ul.nav.pull-right
            = render "layouts/user_menu"
    .container-fluid
      .row-fluid
        
        = render "submenu"
        = render "current_options" if controller.class < OperatorsController and user_signed_in? and current_user.subjects.any?

        - unless notice.nil?
          %p.alert.alert-info= notice
        - unless alert.nil?
          %p.alert.alert-error= alert

        = yield
